<?xml version="1.0"?>
<!--
/**
 * Copyright © OpenGento, All rights reserved.
 * See LICENSE bundled with this library for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="catalog">
            <group id="frontend">
                <field id="advanced_sort_by_status" translate="label comment" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Advanced Sort By</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    <comment>If enabled, you can override the sort by options.</comment>
                </field>
                <field id="advanced_sort_by_remove_direction" translate="label comment" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Remove Sort By Direction</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If removed, you can select what attributes are going to be available in sort options with direction.</comment>
                    <depends>
                        <field id="advanced_sort_by_status">1</field>
                    </depends>
                </field>
                <field id="advanced_sort_by_options" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Product Listing Sort Options</label>
                    <frontend_model>Opengento\CatalogSortOrder\Block\Adminhtml\Config\Form\Field\SortOrder</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <depends>
                        <field id="advanced_sort_by_status">1</field>
                    </depends>
                </field>
                <field id="advanced_sort_by_overrides_category_orders" translate="label comment" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Overrides Category Level Defined Sort By</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If yes, available sort by defined on the category level will be overridden by above settings.</comment>
                    <depends>
                        <field id="advanced_sort_by_status">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
